@page
@model IndexModel
@{
    
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />



<body class="w-full" data-theme="retro">
  <div class="flex items-center justify-center min-h-screen">
      <form class=" w-5/6 bg-base-300 p-8 shadow-lg rounded-lg space-y-4 relative">
            <div class="row">
                <div class="col-md-6">
                    <form id="profile-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                            <label asp-for="Username" class="form-label"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </form>
                </div>
            </div>  
      </form>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
