@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<body class="w-full" data-theme="retro">
    <div class="flex items-center justify-center m-8">
        <form id="account" method="post" class=" w-1/2 bg-base-300 p-8 shadow-lg rounded-lg space-y-4 relative">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="flex">
                <div class="w-full">
                    <h2 class="flex text-2xl font-bold items-center mb-3">Forgot password</h2>
                    <div class="relative mb-4">
                        <label asp-for="Input.Email" class="block text-sm font-bold mb-2">Email Address</label>
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email address"
                               class="input input-bordered w-full" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                    </div>
                    <div class="mb-6 mt-2 relative">
                        <button type="submit" id="next-submit" class="btn btn-error w-full">Next</button>
                    </div>
                    <p class="text-center text-gray-500 text-xs">
                        You have remembered your password? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="underline">Login</a>.
                    </p>
                </div>
            </div>


        </form>


    </div>
</body>
@*<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@