@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="flex items-center justify-center min-h-screen">
    <form method="post" class=" bg-base-300 p-8 shadow-lg rounded-lg space-y-4 relative" style="width:40%;">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <input asp-for="Input.Code" type="hidden" />
        <h2 class="flex text-2xl font-bold items-center mb-3">Reset Password</h2>
        <div class="relative mb-2">
            <label asp-for="Input.Email" class="block text-sm font-bold mb-2">Email</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter your email"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="relative mb-2">
            <label asp-for="Input.Password" class="block text-sm font-bold mb-2">New Password</label>
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Enter your new password"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="relative mb-6">
            <label asp-for="Input.ConfirmPassword" class="block text-sm font-bold mb-2">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Enter confirm your new password"
                   class="input input-bordered w-full" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mb-6 relative">
            <button type="submit" class="btn btn-error w-full">Reset</button>
        </div>




    </form>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
